{% extends 'base.html.twig' %}

{% block title %}Éditer l'utilisateur{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block javascripts %}
  {{parent()}}
{% endblock %}

{% block body %}
<section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
        <div class="login">

            <h1 class="form_connexion_logo">
                <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" height="60" width="60" alt="Logo">
                Modifier mon compte</h1>

            {{ include('user/_form.html.twig') }}
            
        </div>

    </div>


</section>
{% endblock %}
